table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    line-height: 1.5em;
    max-width: 100%;
    overflow: auto;
    width: 100%;
    word-break: normal;
    word-break: keep-all;
    caption-side: bottom;
  }
  
  .witdh_70px {
    width: 70px;
  }
  
  .flex {
    display: flex;
  }
  
  .margin_5px {
    margin: 2px;
  }
  