/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// regular style toast
@import 'ngx-toastr/toastr';

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    line-height: 1.5em;
    max-width: 100%;
    overflow: auto;
    width: 100%;
    word-break: normal;
    word-break: keep-all;
}